@use "../tools/colors" as *;

.main_header_menu {
	display: flex;
	position: absolute;
	justify-content: center;
	width: 80%;
	align-items: center;
	top: 20px;
	z-index: 9999999999999999;
	li {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		button {
			padding: 10px 20px;
			border-radius: 30px;
			outline: none;
			border: none;
			cursor: pointer;
			font-weight: 500;
			transition: 0.5s ease-in-out all;
			&:first-child {
				background: $secondary-dark;
				color: rgba($color: $secondary-orange, $alpha: 0.7);
				&:hover {
					color: rgba($color: $secondary-orange, $alpha: 1);
				}
			}
			&:last-child {
				background: rgba($color: $secondary-orange, $alpha: 0.7);
				color: $secondary-dark;
				&:hover {
					background: rgba($color: $secondary-orange, $alpha: 1);
					color: $primary-dark;
				}
			}
		}
	}
}

section {
	position: absolute;
	&.hero_section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		gap: 20px;
		// background: rebeccapurple;
		// padding-top: px;
		h1 {
			color: $secondary-orange;
			font-weight: 300;
			font-size: 50px;
			line-height: 50px;
			text-align: center;
			max-width: 800px;
			span {
				color: #fff;
			}
			// width: 900px;
			// margin-bottom: 10px;
		}
		p {
			font-size: 20px;
			color: rgba($color: $secondary-orange, $alpha: 0.7);
			letter-spacing: 10px;
			&.project_stat {
				letter-spacing: 0;
				font-size: 16px;
				// color: rgba($color: $secondary-orange, $alpha: 1);
				text-align: center;
				width: 700px;
				margin-bottom: 10px;
				color: #fff;
			}
		}
		button.learn_more_btn {
			background: none;
			display: flex;
			gap: 20px;
			justify-content: flex-start;
			align-items: center;
			padding: 10px;
			border: none;
			outline: none;
			width: fit-content;
			// background: $secondary-dark;
			border-radius: 20px;
			cursor: pointer;
			position: relative;

			span {
				color: $secondary-orange;
				transition: 0.5s ease-in-out all;
			}

			.material-symbols-outlined {
				color: #fff;
				font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
			}

			&::after {
				content: "";
				position: absolute;
				width: 40px;
				height: 40px;
				background: $secondary-orange;
				z-index: -1;
				right: 0;
				border-radius: 20px;
				transition: 0.5s ease-in-out width;
			}

			&:hover {
				color: $primary-dark;

				&::after {
					width: 100%;
					border-radius: 20px;
				}

				span {
					color: $primary-dark;
					color: #fff;
					&:last-child {
						rotate: 45deg;
					}
				}
			}
		}
		button.scroll_now {
			.material-symbols-outlined {
				font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
			}
			width: 70px;
			height: 70px;
			span {
				font-size: 40px;
			}
			display: flex;
			justify-content: center;
			align-items: center;
			outline: none;
			border: none;
			cursor: pointer;
			background: none;
			color: rgba($color: $secondary-orange, $alpha: 0.7);
			transition: 0.5s ease-in-out all;
			animation: scroll_down_btn_animation infinite 3s;
			&:hover {
				color: rgba($color: $secondary-orange, $alpha: 1);
			}
		}
		img {
			width: 300px;
			// margin: 10px;
		}
	}
	&.demo_section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;

		background: rgba(0, 1, 0, 0.1);
		backdrop-filter: blur(15px);

		padding-top: 50px;
		// Scrollbar
		/* width */
		&::-webkit-scrollbar {
			width: 10px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: rgba($color: $primary-dark, $alpha: 0.2);
			margin-top: 50px;
			margin-bottom: 50px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: rgba($color: $secondary-orange, $alpha: 0.2);
			transition: 0.5s ease-in-out all;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: rgba($color: $secondary-orange, $alpha: 0.5);
		}

		.team_info,
		.about_features,
		.about_info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			h1 {
				font-size: 42px;
				text-align: center;
				display: flex;
				gap: 20px;
				align-items: center;
				justify-content: center;
				font-weight: 400;
				span {
					position: relative;
					padding: 0 20px;
					text-align: center;
					line-height: 42px;
					&::before {
						content: "";
						position: absolute;
						height: 100%;
						width: 2px;
						background: rgba($color: $secondary-orange, $alpha: 0.7);
						left: 0;
					}
				}
			}
			img {
				width: 190px;
			}
			p {
				width: 800px;
				color: rgba($color: $secondary-orange, $alpha: 1);
				text-align: center;
				color: #fff;
			}
		}
		.demo_display {
			margin-top: 20px;
			.demo {
				width: 700px;
				height: 360px;
				// background: red;
				.demo_cont {
					width: 100%;
					height: 100%;
					position: relative;
					img {
						width: 100%;
						position: absolute;
					}
					video {
						top: 9px;
						left: 90px;
						width: 74%;
						position: absolute;
					}
				}
			}
		}
		.about_features {
			margin-top: 30px;
			padding: 20px 0;
			// background: rebeccapurple;
			.features_list {
				margin-top: 20px;
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				// opacity: 0;
				transition: 0.5s ease-in-out all;
				transition-delay: 0.7s;
				justify-content: center;
				li {
					display: flex;
					flex-direction: column;
					list-style: none;
					align-items: center;
					text-align: center;
					gap: 10px;
					cursor: pointer;

					padding: 10px;
					span {
						transition: 0.5s ease-in-out all;

						&:nth-child(1) {
							&.material-symbols-outlined {
								font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0,
									"opsz" 24;
							}
							font-size: 50px;
							padding: 10px;
							border-radius: 50%;
							color: $secondary-orange;
						}

						&:nth-child(2) {
							font-size: 12px;
							width: 150px;
							color: $secondary-orange;
							transform: translateY(-10px);
							opacity: 0;
							transition: 0.5s ease-in-out all;
						}
					}

					&:hover {
						span {
							&:nth-child(1) {
								&.material-symbols-outlined {
									font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0,
										"opsz" 24;
								}
								background: $secondary-orange;
								color: #fff;
							}
							&:nth-child(2) {
								transform: translateY(0);
								opacity: 1;
							}
						}
					}
				}
			}
		}
		.team_info {
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 20px;
				li {
					display: flex;
					flex-direction: column;
					align-items: center;
					list-style: none;
					width: 250px;
					height: 300px;
					// transition: 0.5s ease-in-out all;
					// background: rgba($color: $secondary-dark, $alpha: 1);
					padding: 20px;
					// gap: 10px;
					border-radius: 20px;
					cursor: pointer;
					&:hover {
						.personal_links {
							transform: translateY(0);
							opacity: 1;
						}
						span {
							&:nth-child(1) {
								transform: translateY(0px);
								opacity: 1;
							}
							&:nth-child(3) {
								transform: translateY(0px);
								opacity: 1;
								letter-spacing: 0px;
							}
							&:nth-child(4) {
								transform: translateY(0px);
								opacity: 1;
							}

							&.s_name {
								display: flex;
								flex-direction: column;
								i {
									font-style: normal;
								}
							}
						}
					}
					.personal_links {
						margin-top: 20px;
						color: rgba($color: $secondary-orange, $alpha: 0.7);
						font-size: 15px;
						transform: translateY(-20px);
						opacity: 0;
						transition: 0.5s ease-in-out all;
						transition-delay: 0.5s;
						a {
							color: rgba($color: $secondary-orange, $alpha: 0.7);
							transition: 0.5s ease-in-out all;
							&:hover {
								color: rgba($color: $secondary-orange, $alpha: 1);
							}
						}
					}
					span {
						color: rgba($color: $secondary-orange, $alpha: 0.7);
						font-size: 12px;
						text-align: center;
						transition: 0.5s ease-in-out all;
						&:nth-child(1) {
							font-weight: 400;
							color: rgba($color: $secondary-orange, $alpha: 1);
							margin-bottom: 10px;
							transform: translateY(20px);
							opacity: 0;
						}

						&:nth-child(3) {
							color: rgba($color: $secondary-orange, $alpha: 1);
							font-size: 20px;
							margin-top: 10px;
							line-height: 21px;
							// margin-bottom: 10px;
							transform: translateY(-20px);
							opacity: 0;
							// letter-spacing: 5px;
							transition-delay: 0.1s;
							i {
								font-size: 15px;
							}
						}
						&:nth-child(4) {
							transform: translateY(-20px);
							opacity: 0;
							transition-delay: 0.3s;
						}
					}
					.img_cont {
						width: 120px;
						height: 120px;
						padding: 10px;
						// background: rebeccapurple;
						border: 1px solid rgba($color: $secondary-orange, $alpha: 1);
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						.img {
							// position: relative;
							width: 100px;
							height: 100px;
							overflow: hidden;
							border-radius: 50%;
							background: #000;
							color: rgba($color: $secondary-orange, $alpha: 1);
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 50px;
							img {
								width: 100px;
								height: 100px;
							}
						}
					}

					&:nth-child(3) {
						padding-bottom: 40px;
					}
				}
			}
		}
	}
}
.lan_menu {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	background: $secondary-dark;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: $secondary-dark;
	padding: 20px 10px;
	border-radius: 50px;
	transition: 0.5s ease-in-out all;
	opacity: 0;
	pointer-events: none;
	z-index: 9999;

	&.active {
		opacity: 1;
		pointer-events: auto;
	}
	ul {
		li {
			list-style: none;
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: 0.5s ease-in-out all;
			border-radius: 50%;
			span {
				font-size: 30px;
				transition: 0.5s ease-in-out all;
				color: rgba($color: $secondary-orange, $alpha: 0.5);

				&.material-symbols-outlined {
					font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
				}
			}
			&:hover {
				span {
					color: rgb(242, 218, 191, 0.5);
					text-shadow: 0px 0px 29px rgba(242, 218, 191, 0.5);
				}
			}
		}
		&:nth-child(2),
		&:nth-child(1) {
			li {
				background: rgba($color: $primary-dark, $alpha: 0.5);
				position: relative;
				transition: 0.5s ease-in-out all;
				span {
					z-index: 9;
					transition: 0.5s ease-in-out all;
				}
				&::before {
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					z-index: 0;
					transition: 0.5s ease-in-out all;
					background: $secondary-orange;
					border-radius: 50%;
				}
				&:hover {
					background: transparent;
					span {
						color: #fff;
						&.material-symbols-outlined {
							font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
						}
					}
					&::before {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		&:last-child {
			li {
				background: rgba($color: $primary-dark, $alpha: 0.5);
				position: relative;
				transition: 0.5s ease-in-out all;
				display: none;
				&.active {
					display: flex;
				}
				span {
					z-index: 9;
					transition: 0.5s ease-in-out all;
				}
				&::before {
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					z-index: 0;
					transition: 0.5s ease-in-out all;
					background: rgba($color: $primary-orange, $alpha: 0.5);
					border-radius: 50%;
				}
				&:hover {
					background: transparent;
					span {
						color: $secondary-orange;
						&.material-symbols-outlined {
							font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
						}
					}
					&::before {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}
.features_detailes {
	background: $secondary-orange;
	position: absolute;
	z-index: 999999999999999999999999999999;
	background: rgba($color: $primary-dark, $alpha: 0.5);
	backdrop-filter: blur(15px);
	top: 50%;
	left: 50%;
	width: 0%;
	height: 0%;
	transition: 0.5s ease-in-out all;
	transform: translate(-50%, -50%);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	&.active {
		width: 100%;
		height: 100%;
	}

	.detailes_container {
		width: 900px;
		height: 600px;
		background: $secondary-dark;
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		transition: 0.5s ease-in-out all;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px;
		gap: 20px;
		.fes {
			position: absolute;
			// background: rebeccapurple;
			transition: 0.5s ease-in-out all;
			top: 100%;
			&.active {
				top: 50%;
				transform: translateY(-50%);
			}
		}
		h1 {
			font-size: 42px;
			text-align: center;
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: center;
			font-weight: 400;
			z-index: 999999;
			color: rgba($color: $secondary-orange, $alpha: 1);
			span {
				position: relative;
				padding: 0 20px;
				// text-align: center;
				line-height: 42px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				gap: 0;
				line-height: 35px;
				i {
					font-size: 13px;
					font-style: normal;
					line-height: 20px;
				}
				&::before {
					content: "";
					position: absolute;
					height: 100%;
					width: 2px;
					background: rgba($color: $secondary-orange, $alpha: 0.7);
					left: 0;
				}
			}
		}
		img {
			width: 200px;
		}
		p {
			font-size: 16px;
			// color: rgba($color: $secondary-orange, $alpha: 1);
			text-align: center;
			width: 700px;
			color: #fff;
		}
		.img_demo {
			position: relative;
			width: 700px;
			height: 310px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			// background: rebeccapurple;
			img {
				width: 100%;
			}
		}
	}
	.cls_fes_det_win {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background: none;
		border-radius: 20px;
		outline: none;
		border: none;
		transition: 0.5s ease-in-out all;
		span {
			color: rgba($color: $secondary-orange, $alpha: 1);
			transition: 0.5s ease-in-out all;

			&.material-symbols-outlined {
				font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
			}
		}

		&:hover {
			background: $secondary-orange;
			span {
				color: rgba($color: #fff, $alpha: 1);
				rotate: 90deg;
				&.material-symbols-outlined {
					font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
				}
			}
		}
	}
}
@keyframes scroll_down_btn_animation {
	0% {
		color: rgba($color: $secondary-orange, $alpha: 0.7);
		transform: translateY(-10px);
	}
	100% {
		color: rgba($color: $secondary-orange, $alpha: 0);
		transform: translateY(50px);
	}
}
